.Footer {
  background-color: #303030;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 15px;
  padding-left: 10vw;
  padding-bottom: 10px;
  padding-right: 10px;
}
h2 {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  max-width: 200px;
}
